
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playpen+Sans:wght@100..800&display=swap');

:root {
  --redPrimary: #811710;
  --redHover: #9A4A45;
  --redLight: #E7473C;
  --redExtraLight: #CBB0AE;
  --gray: #E3E3E3;
  --background: #121212;
  --surface: #1F1F1F;
  

}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html,
  body {
    max-width: 100vw;
    background-color: var(--background);
  }

  body {
    position: relative;
  }

  header {
    z-index: 5;
  }

  main {
    z-index: 1;
    /* margin-top: 5rem; */
  }

  .container {
    width: 100%;
    padding: 0 1.5rem;
  }