
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playpen+Sans:wght@100..800&display=swap');
@font-face {
  font-family: 'crass';
  src: url('./Crass.ttf');
}
:root {
  --primary: #A01B66ff;
  --secondary: #2CABE1ff;
  --tertiary: #A01B66ff;
  --surface: #1F3639ff;
  --background: #020102ff;
  --text: #E3E3E3;
  --gray: #E3E3E3;

  

  /* --white-smoke: #F2F3F2ff;
  --picton-blue: #2CABE1ff;
  --murrey: #A01B66ff;
  --gunmetal: #1F3639ff;
  --black: #020102ff; */
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html,
  body {
    max-width: 100vw;
    background-color: var(--background);
  }

  body {
    position: relative;
  }

  header {
    z-index: 5;
  }

  main {
    z-index: 1;
    /* margin-top: 5rem; */
  }

  .container {
    width: 100%;
    padding: 0 1.5rem;
  }