.Header {
  align-items: center;
  background-color: transparent;
  // background-color: var(--darkBlue);
  display: flex;
  height: 5rem;
  justify-content: space-between;
  padding: 0 2rem;
  position: fixed;
  width: 100vw;
  z-index: 10;
}
