.Header {
  align-items: center;
  background: var(--background);
  // background-color: var(--darkBlue);
  display: flex;
  height: 5rem;
  justify-content: space-between;
  padding: 0 2rem;
  position: sticky;
  width: 100vw;
  top: 0;
  z-index: 10;
  // transition: all 0.2s ease-in-out;

  [class*="PageContainer"] {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media screen and (min-width: 1024px) {
    width: 100%;
  }
}
