.Section {
  padding: 3rem 1.5rem;
  color: var(--gray);
  display: flex;
  flex-direction: column;

  + .Section {
    margin-top: 3rem;
  }

  hr {
    border-color: var(--redLight);
    margin-bottom: 5rem;
  }

  h2 {
    font-size: 2.25rem;
    line-height: 1.2;
    font-family: "crass";
    letter-spacing: 2px;
    color: var(--darkTealBg);
    margin-bottom: 3rem;
    padding: 0 3rem 1rem;
    border-bottom: 2px solid var(--redLight);
    display: flex;
    align-items: center;
    // width: 100%;
    // max-width: 70vw;
  }

  h3 {
    font-size: 1.79rem;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-family: "crass";
    letter-spacing: 4px;
    // color: var(--darkTealBg);
    border-left: 2px solid var(--redLight);
    padding: 0.5rem 0rem 0.5rem 1rem;
    font-weight: 600;
  }

  p {
    font-size: 1rem;
    line-height: 1.5;

    &.large {
      font-size: 1.21rem;
      line-height: 1.815;
    }
  }

  p + p {
    margin-top: 0.89rem;
  }

  p + h2 {
    margin-top: 3rem;
  }
  p + h3 {
    margin-top: 1.5rem;
  }

  &.variant {
    background: var(--darkTealBg);
    color: #fff;

    h2 {
      color: var(--darkText);
    }

    h3 {
      position: relative;
      margin-bottom: 2rem;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1rem;
        width: 50%;
        height: 1px;
        background-color: #fff;
      }
    }
  }

  ul {
    margin: 1rem 0 1rem 1.5rem;

    li {
      font-size: 1.5rem;
      line-height: 1.5;

      span {
        position: relative;
        font-size: 1rem;
        bottom: 0.1rem;
      }

      &::marker {
        color: var(--darkTealBg);
      }
    }
  }

  @media screen and (min-width: 1024px) {
    padding: 5rem 3rem;

    + .Section {
      padding-top: 0;
      margin-top: 5rem;
    }
  }
  @media screen and (max-width: 767px) {
    // h2 {
    //   font-size: 1.79rem;
    //   line-height: 1.2;
    // }
  }
}
