.toggle {
  display: flex;
  gap: 0;
  border-radius: 4px;
  overflow: hidden;
  margin: 0 auto 4rem auto;
}

.toggleButton {
  flex: 1;
  border-radius: 0;
  font-size: 1.25rem;

  &:not(:last-child) {
    border-right: 1px solid var(--secondary);
  }
}
