.Accordion {
  background: transparent;
  // border: 2px solid var(--redLight);
  border-radius: 1rem;
  padding: 1rem 1.5rem 1rem 1rem;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.16);
  margin-bottom: 2rem;

  button {
    width: 100%;
    position: relative;
    appearance: none;
    border: none;
    background: transparent;
    text-align: left;
    fill: var(--redLight);
    color: var(--redLight);
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      // color: var(--redLight);
      color: #fff;
      font-size: 1rem;
      margin: 0;
      display: flex;
      gap: 1rem;
      align-items: center;
      border-left: none;
      padding: 0;
    }

    .icon {
      transform: rotate(0deg);
      transition: transform 0.15s ease;
      position: relative;
      left: 0.5rem;

      &.isOpen {
        transform: rotate(180deg);
      }
    }
  }

  .body {
    transition: opacity 0.2s ease, transform 0.15s ease, height 0.15s ease;
    opacity: 0;
    height: 0;
    transform: scale(1, 0);
    transform-origin: center top;
    > :first-child {
      padding-top: 0.75rem;
    }
    > :last-child {
      padding-bottom: 0.75rem;
    }
    > * {
      line-height: 1.25;
    }

    &.isOpen {
      // background: #fff;
      height: auto;
      opacity: 1;
      transform: scale(1, 1);
    }
  }
}
