.GetInvolvedForm {
  form {
    p:last-child {
      display: flex;
      justify-content: center;
    }
  }

  .success {
    display: none;
    margin: 2rem 0;
    font-size: 1.5rem;
    font-weight: 600;
  }

  &.isSuccessfulSubmission {
    form {
      display: none;
    }
    .success {
      display: block;
    }
  }
}
